Engine/obj/
Engine/bin/
*.manifest
ipch/
Libraries/fbx_d99936f11250/Backup/
*.opendb
*.sdf
*.lref
*.cache
*.pch
*.db
AutoWrapper/obj/
AutoWrapper/bin/
*.stackdump
Game/bin/
Game/obj/
*.suo
*.force
Testris/bin/
Testris/obj/
Forms Editor/bin/
Forms Editor/obj/
