Engine/obj/
Engine/bin/
ipch/
Libraries/fbx_d99936f11250/
*.opendb
*.sdf
*.lref
*.cache
*.pch
*.db
*.stackdump
*.suo
*.force
.vs/
Thera/obj/
Releases/
Thera/bin/
Build/Debug/
Build/Release/
Build/test/
Editor/obj/
Compare-NET-Objects/obj/
Compare-NET-Objects/bin/
Extensions/obj/
Extensions/bin/
WindowsNativeInterop/obj/
WindowsNativeInterop/bin/
GameProjectTemplate/obj/
GameProjectTemplate/bin/
GameProjectTemplateInstaller/bin/

GameProjectTemplateInstaller/obj/
packages/
CSharpAnalyzer/obj/
CSharpAnalyzer/bin/
