Engine/obj/
Engine/bin/
ipch/
Libraries/fbx_d99936f11250/
*.opendb
*.sdf
*.lref
*.cache
*.pch
*.db
*.stackdump
*.suo
*.force
.vs/
Thera/obj/
Testris/obj/
Forms Editor/obj/
WPF Editor/obj/
Releases/
Thera/bin/
Build/
